@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}


.toast-success {
  box-shadow: 0 4px 12px rgba(129, 199, 132, 0.4);
}
.toast-info {
  box-shadow: 0 4px 12px rgba(255, 152, 0, 0.4);
}
.toast-error {
  box-shadow: 0 4px 12px rgba(229, 115, 115, 0.4);
}
